<form *ngFor="let option of options; let i = index"
      [formGroup]="formgroups[i]"
      [ngxsForm]="option.id"
      novalidate

      (ngSubmit)="onSubmit(option.id)">

  <fieldset>
    <legend>{{option.id}}</legend>
    <div>
      <label>{{option.colums.name}}:
        <input [type]="option.colums.type" formControlName="colums">
      </label>
    </div>

    <hr>

    <div>
      <label>{{option.cardColumn.first.name}}:
        <input [value]="validateCardColums(option.colums.value, option.cardColumn.first.value)"
               [type]="option.cardColumn.first.type"
               formControlName="cardColumnFirst"
               min="1"
               [max]="option.colums.value">
      </label>

      <label>{{option.cardColumn.odd.name}}:
        <input [value]="validateCardColums(option.colums.value, option.cardColumn.odd.value)"
               [type]="option.cardColumn.odd.type"
               formControlName="cardColumnOdd"
               min="1"
               [max]="option.colums.value">
      </label>

      <label>{{option.cardColumn.even.name}}:
        <input [value]="validateCardColums(option.colums.value, option.cardColumn.even.value)"
               [type]="option.cardColumn.odd.type"
               formControlName="cardColumnEven"
               min="1"
               [max]="option.colums.value">
      </label>

      <label>{{option.cardColumn.last.name}}:
        <input [value]="validateCardColums(option.colums.value, option.cardColumn.last.value)"
               [type]="option.cardColumn.last.type"
               formControlName="cardColumnLast"
               min="1"
               [max]="option.colums.value">
      </label>
    </div>

    <hr>


    <button type="submit">Submit {{option.id}}</button>


  </fieldset>


</form>

