// ----------------------------------------------------------------------------
// Config
@import "import.scss";

$label-min-width: 260px;
$active-width: 60%;
$time: 2.25s;
// ----------------------------------------------------------------------------

:host {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 0;
  min-height: 100%;
  overflow: hidden;
  border-left: 2px solid var(--c-bright);
  background-color: var(--ct-bright);
  transition: width $time ease-in-out;

  &.active {
    width: $active-width;
    overflow-y: auto;
    @include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {
      width: 100%;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $padding * 0.5;
    background-color: var(--ct-bright);
    transform: translateY(0);
    border-bottom: $border solid var(--c-thirdly);
    border-left: $border solid var(--c-thirdly);
  }

  form {
    // display: none;

    &.active {
      display: flex;
      flex-flow: column;
      box-sizing: border-box;
      margin: $margin;
      width: calc(100% - #{$padding * 2} - 2px);
      padding: $padding;
    }
  }

  fieldset {
    display: flex;
    flex-flow: row wrap;
    margin: $margin;

    div {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: $label-min-width;
    margin: 0 $margin $margin 0;
    padding: $padding;

    :last-of-type {
      margin-right: 0;
    }
  }

  input[type="number"] {
    max-width: 50px;
  }
}
