// ----------------------------------------------------------------------------
// Config
@import "import.scss";

$label-min-width: 16rem;
$active-width: 60%;
$time: 0.4s;

// ----------------------------------------------------------------------------

:host {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 0;
  min-height: 100%;
  overflow: hidden;
  background-color: var(--ct-bright);
  transition: width $time ease-in-out;
  //transition-delay: 2s;
  .wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 100%;
    border-left: 2px solid var(--c-bright);
  }

  &.active {
    display: block;
    width: $active-width;
    overflow-y: auto;
    @include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {
      width: 100%;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
  }

  form {

  }

  fieldset {
    display: flex;
    flex-flow: column;
    margin: $margin;


    > * {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      .label {
        display: flex;
        align-items: center;
        min-width: $label-min-width;
        margin-right: $margin;
        margin-bottom: $margin;
      }

      .hidden {
        display: none;
      }

      input[type="text"] {
        display: flex;
        min-width: calc(100% - #{$label-min-width + $margin});
        margin-bottom: $margin;
      }

      input[type="number"] {
        max-width: 5rem;
        margin-right: $margin;
        margin-bottom: $margin;
      }

      select {
        margin-right: $margin;
        margin-bottom: $margin;
      }
    }

  }

}
