<div class="wrapper">
  <form
    *ngIf="dataGridCard"
    [formGroup]="formGroupGridCard"
    novalidate
    (ngSubmit)="onSubmit(dataGridCard.id)">
    <button
        class="icons-g close"
        (click)="layoutService.setForm(dataGridCard.id)">
      close
    </button>
    <fieldset>
      <legend>{{dataGridCard.id}}</legend>

      <!-- header --//-->
      <label>
           <span class="label">
            <button (click)="setHeader()">
              <span *ngIf="!dataGridCard.cardHeader" class="icons-g">add</span>
              <span *ngIf="dataGridCard.cardHeader" class="icons-g">remove</span>
              {{localisation.header}}
            </button>
          </span>
        <input *ngIf="dataGridCard.cardHeader"
                [formControlName]="formGroupGridInputNames.headerContent"
               type="text"/>
      </label>
      <ng-container *ngIf="dataGridCard.cardHeader">
        <label>
          <span class="label">{{localisation.direction}}:</span>
          <select [formControlName]="formGroupGridInputNames.headerDirection">
            <option
              *ngFor="let direction of directions  | keyvalue"
              [value]="direction.value">
              {{direction.key}}
            </option>
          </select>
        </label>
      </ng-container>
      <!-- header --//-->

      <hr>

      <!-- theme --//-->
      <div>
          <span class="label">
            <button (click)="setTheme()">
              <span class="icons-g">invert_colors</span>
              {{localisation.themeButton}}
            </button>
          </span>

        <ng-container *ngIf="dataGridCard.theme">
          <label>
            <span class="hidden">{{localisation.theme}}</span>
            <select [formControlName]="formGroupGridInputNames.theme">
              <option
                *ngFor="let theme of themeGridCard  | keyvalue"
                [value]="theme.value">
                {{theme.key}}
              </option>
            </select>
          </label>
        </ng-container>

      </div>
      <!-- theme --//-->

      <hr>

      <!-- columns --//-->
      <label>
        <span class="label">{{localisation.columns}}:</span>
        <input
          [formControlName]="formGroupGridInputNames.columns"
          type="number"
          min="1">
      </label>
      <!-- columns --//-->

      <hr>

      <!-- column --//-->
      <div>
        <label>
          <span class="label">{{localisation.cardColumnFirst}}</span>
          <input
            [value]="validateCardColumns(dataGridCard.columns.value, dataGridCard.cardColumn.first.value)"
            [formControlName]="formGroupGridInputNames.cardColumnFirst"
            type="number"
            min="1"
            [max]="dataGridCard.columns.value">
        </label>
        <label>
          <span class="label">{{localisation.cardColumnOdd}}</span>
          <input
            [value]="validateCardColumns(dataGridCard.columns.value, dataGridCard.cardColumn.odd.value)"
            [formControlName]="formGroupGridInputNames.cardColumnOdd"
            type="number"
            min="1"
            [max]="dataGridCard.columns.value">
        </label>
        <label>
          <span class="label">{{localisation.cardColumnEven}}</span>
          <input
            [value]="validateCardColumns(dataGridCard.columns.value, dataGridCard.cardColumn.even.value)"
            [formControlName]="formGroupGridInputNames.cardColumnEven"
            type="number"
            min="1"
            [max]="dataGridCard.columns.value">
        </label>
        <label>
          <span class="label">{{localisation.cardColumnLast}}</span>
          <input
            [value]="validateCardColumns(dataGridCard.columns.value, dataGridCard.cardColumn.last.value)"
            [formControlName]="formGroupGridInputNames.cardColumnLast"
            type="number"
            min="1"
            [max]="dataGridCard.columns.value">
        </label>
      </div>
      <!-- column --//-->

      <hr>

      <!-- footer --//-->
      <label>
           <span class="label">
            <button (click)="setFooter()">
              <span *ngIf="!dataGridCard.cardFooter" class="icons-g">add</span>
              <span *ngIf="dataGridCard.cardFooter" class="icons-g">remove</span>
              {{localisation.footerButton}}
            </button>
          </span>
        <input *ngIf="dataGridCard.cardFooter"
               [formControlName]="formGroupGridInputNames.footerContent"
               type="text"/>
      </label>
      <ng-container *ngIf="dataGridCard.cardFooter">
        <label>
          <span class="label">{{localisation.direction}}:</span>
          <select [formControlName]="formGroupGridInputNames.footerDirection">
            <option
              *ngFor="let direction of directions  | keyvalue"
              [value]="direction.value">
              {{direction.key}}
            </option>
          </select>
        </label>
      </ng-container>
      <!-- footer --//-->

      <hr>

      <div class="right-g">
        <button class="success-g" type="submit">{{localisation.submitButton}} {{dataGridCard.id}}</button>
      </div>

    </fieldset>

  </form>
</div>
