<ng-container *ngFor="let datagridcard of datagridcards">

  <article [ngStyle]="gridTemplateColums(datagridcard)" [class]="datagridcard.theme?.selected"
           [ngClass]="{'color': datagridcard.theme}">

    <header
      *ngIf="datagridcard.cardHeader"
      [ngStyle]="gridColumHeaderFooter(datagridcard)">
      <h1 class="h2">
        <span *ngIf="layoutService.getLayoutStatus().edit" class="icons m-pointer"
              (click)="setGridCardForm(datagridcard)">edit</span>
        {{datagridcard.cardHeader.content}}
      </h1>
    </header>

    <section
      *ngFor="let card of datagridcard.cardContent; first as isFirst; last as isLast; even as isEven; odd as isOdd"
      [ngStyle]="gridColumcard(
            datagridcard,{
              'first': isFirst,
              'last': isLast,
              'even': isEven,
               'odd':isOdd
               })">
      {{card.content}}
    </section>

    <footer
      *ngIf="datagridcard.cardFooter"
      [ngStyle]="gridColumHeaderFooter(datagridcard)">
      {{datagridcard.cardFooter.content}}
    </footer>

  </article>


</ng-container>
