// ----------------------------------------------------------------------------
// Config
@import "../scss/import";
// ----------------------------------------------------------------------------

:host {
  article {
    display: grid;
    grid-gap: $margin;
    margin-bottom: $margin * 4;
    grid-template-columns: 1fr 1fr;

    > * {
      padding: $padding;
    }
    header, footer {
      grid-column: span 2;
    }
    section{
      max-width: 100%;
      overflow: hidden;
    }
  }
  // --- sets ---

  /*
  &.set-4-1-4 {
    grid-template-columns: 4fr 1fr 4fr;

    header, footer {
      grid-column: span 3;
    }

    @include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {
      grid-template-columns: 1fr 1fr;
      section:nth-of-type(3n+2) {

        display: none;
      }
      header, footer {
        grid-column: span 2;
      }

    }

    @include mediascreen($mediascreen: 'custom', $max: $ms-2-max) {
      grid-template-columns: 1fr;
      header, footer {
        grid-column: span 1;
      }
    }

  }
  */

}

// ----------------------------------------------------------------------------
// Colors
:host {
  article.color {
    background-color: var(--c-background);
    > * {
      background-color: var(--c-secondary);
    }

    > *:nth-child(odd) {
      background-color: var(--c-thirdly);
    }

    header {
      color: var(--text-bright);
      background-color: var(--c-primary);
    }

    footer {
      background-color: var(--c-primary);
    }

  }
}
