<ng-container *ngFor="let datagridcard of datagridcards">

  <article [ngStyle]="gridTemplateColums(datagridcard)" [class]="datagridcard.theme?.selected"
           [ngClass]="{
            'color': datagridcard.theme,
            'edit-g' : this.layoutService.getLayoutStatus().formid === datagridcard.id
            }">

    <button *ngIf="layoutService.getLayoutStatus().edit"
         [ngStyle]="gridColumHeaderFooter(datagridcard)"
            (click)="setGridCardForm(datagridcard);layoutService.setForm(datagridcard.id)"
            class="edit-button-g icons-g m-pointer-g edit-button">
            edit
    </button>

    <header
      *ngIf="datagridcard.cardHeader"
      [ngStyle]="gridColumHeaderFooter(datagridcard)">
      <h1 class="h2-g" [ngClass]="datagridcard.cardHeader.direction">
        {{datagridcard.cardHeader.content}}
      </h1>
    </header>

    <section
      *ngFor="let card of datagridcard.cardContent; first as isFirst; last as isLast; even as isEven; odd as isOdd"
      [ngClass]="{'even': isEven}"
      [ngStyle]="gridColumcard(
            datagridcard,{
              'first': isFirst,
              'last': isLast,
              'even': isEven,
               'odd':isOdd
               })">
      {{card.content}}
    </section>

    <footer
      *ngIf="datagridcard.cardFooter"
      [ngClass]="datagridcard.cardFooter.direction"
      [ngStyle]="gridColumHeaderFooter(datagridcard)">
      {{datagridcard.cardFooter.content}}
    </footer>

  </article>


</ng-container>
