<div class="layout" [ngClass]="{
    'color': color ,
    'm-zoom': layoutService.getLayoutStatus().zoom,
    'm-edit': layoutService.getLayoutStatus().form
    }">
  <header>
    <strong class="h1">
      <span class="icons m-pointer zoom" (click)="layoutService.setLayoutZoom()">{{zoomIcons()}}</span>
      Header

    </strong>
  </header>
  <main>

    <section>
      <app-gridcards-view [datagridcards]="datagridcards"></app-gridcards-view>
    </section>

    <router-outlet></router-outlet>
  </main>
  <footer>
    <strong class="h2">Footer</strong>
  </footer>

  <app-mediascreen></app-mediascreen>

</div>

<section>

  <app-gridcards-form *ngIf="datagridcardTemp"
    [ngClass]="{'active': layoutService.getLayoutStatus().form}"
    >
  </app-gridcards-form>

</section>
