<div class="layout">
    <header>header</header>
    <main>


        <app-gridcards [options]="{
                visual: {
                    set: 'set-4-1-4'
                },
                cardContent:[
                  {content: 'Content 01'},
                  {content: 'Content 02'},
                  {content: 'Content 03'},
                  {content: 'Content 04'},
                  {content: 'Content 05'},
                  {content: 'Content 06'}
                ],

              cardFooter: {
                content: 'Footer'
              }
            }">
        </app-gridcards>

        <app-gridcards [options]="{
                visual: {
                    set: 'set-4-1-4'
                },
                  cardHeader: {
                content: 'Header: gridcards 01'
                },
                cardContent:[
                  {content: 'Content 01'},
                  {content: 'Content 02'},
                  {content: 'Content 03'},
                  {content: 'Content 04'},
                  {content: 'Content 05'},
                  {content: 'Content 06'},
                  {content: 'Content 01'},
                  {content: 'Content 02'},
                  {content: 'Content 03'},
                  {content: 'Content 04'},
                  {content: 'Content 05'},
                  {content: 'Content 06'}
                ],

              cardFooter: {
                content: 'Footer'
              }
            }">
        </app-gridcards>

        <app-gridcards [options]="{
                visual: {
                    set: null,
                    colums: 6
                },
                cardContent:[
                  {content: 'Content 01'},
                  {content: 'Content 02'},
                  {content: 'Content 03'},
                  {content: 'Content 04'},
                  {content: 'Content 05'},
                  {content: 'Content 06'}
                ]
            }">
        </app-gridcards>

        <app-gridcards [options]="{
                visual: {
                    set: null,
                    colums: 6,
                    cardColumn: {
                      first: 4,
                      even: 2,
                      odd: 2,
                      last: 4
                    }
                },
              cardHeader: {
                content: 'Header: gridcards 01'
                },
                cardContent:[
                  {content: 'Content 01'},
                  {content: 'Content 02'},
                  {content: 'Content 03'},
                  {content: 'Content 04'},
                  {content: 'Content 05'},
                  {content: 'Content 06'},
                  {content: 'Content 07'},
                  {content: 'Content 08'},
                  {content: 'Content 09'},
                  {content: 'Content 10'}
                ],
              cardFooter: {
                content: 'Footer'
              }
            }">
        </app-gridcards>


        <router-outlet></router-outlet>
    </main>
    <footer>footer</footer>
    <app-mediascreen></app-mediascreen>

</div>
