// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------

.theme-default {
  --text-primary: #333333;
  --text-secondary: #848484;
  --text-success: #28a745;
  --text-danger: #de0000;
  --text-warning: #ffc107;
  --text-light: #cccccc;
  --text-dark: #000000;
  --text-disabeld: #e5e5e5;
  --text-bright: #ffffff;

  --c-primary: #0470b2;
  --c-secondary: #d6e7f0;
  --c-thirdly: #cccccc;
  --c-dark: #000000;
  --c-dark-light: #848484;
  --c-light: #efefef;
  --c-bright: #ffffff;

  --c-success: #28a745;
  --c-danger: #de0000;
  --c-warning: #ffc107;

  --ct-primary: rgba(4, 112, 178, 0.8);
  --ct-secondary: rgba(214, 231, 240, 0.8);
  --ct-thirdly: rgba(204, 204, 204, 0.8);
  --ct-dark: rgba(0, 0, 0, 0.8);
  --ct-dark-light: rgba(132, 132, 132, 0.8);
  --ct-light: rgba(229, 229, 229, 0.8);
  --ct-bright: rgba(255, 255, 255, 0.92);
}
