$global-font-family: verdana, arial, helvetica, serif;
$global-font-weight: normal;
$global-font-style: normal;
$global-text-decoration: none;
$global-font-size: 62.5%;
$global-letter-spacing: 0.08rem;


$font-size-1: 1.0rem;
$font-size-2: 1.4rem;
$font-size-3: 1.6rem;
$font-size-4: 2.0rem;
$font-size-5: 2.2rem;

$line-height-1: 1.8rem;
$line-height-2: 2.4rem;
$line-height-3: 2.6rem;
$line-height-4: 2.8rem;
$line-height-5: 3rem;

$font-mobile-factor: 1.1;
$font-tablet-factor: 1.0;
$font-desktop-factor: 1.0;

$font-weight-bold: 600;
